configurations.ini
!/configurations.ini
/configurations.ini
__pycache__/database_conn.cpython-35.pyc
__pycache__/send_email2.cpython-35.pyc
.idea'.idea'
.idea/
Error_log.txt
__pycache__/functions.cpython-35.pyc
__pycache__/update_database.cpython-35.pyc
